@font-face {
	font-family: indie;
	src: url(IndieFlower-Regular.ttf);
}


#skipNav{
	display: none;
}

/* Background e tamanho do header */
#header{
	background-image: url(banner4.png) !important;
	background-repeat: no-repeat !important;
	background-size: 100vw;
	color: white;
	display: flex;
	justify-content: center;
	height: 200px;
}

/* Título da header */
header div{
	margin-top: 30px;
	font-size: 20pt;
	font-weight: 600;
	font-family: indie;
}

#header-options{
	height: 55px;
}

.show-nav, .hide-nav{
	display: flex;
	background-image: url(menu-show.png);
	background-repeat: no-repeat;
	height: 55px;
	width: 51px;	
}

.show-nav span, .hide-nav span{
	display: none;
}

